/* General Styles */
.background {
   display: block; /* Centers the background element */
   margin-left: auto; /* Automatic left margin */
   margin-right: auto; /* Automatic right margin */
}

/* Image Styles */
.youtube_to_mp3_img {
    width: 100%; /* Makes the image responsive */
}

img {
    max-width: 100%; /* Ensures images do not overflow their containers */
    height: auto; /* Maintains aspect ratio */
}

/* Form Styles */
.convert_form {
    width: 100%; /* Full width for the conversion form */
}

form {
    text-align: center; /* Centers the content of the form */
}

input {
    margin-top: 10px; /* Top margin for spacing */
    margin-bottom: 10px; /* Bottom margin for spacing */
    max-width: 594px; /* Maximum width for input fields */
    height: 40px; /* Fixed height for input fields */
    width: 98%; /* Width is almost full, allowing for margins */
}

button {
    margin-top: 10px; /* Top margin for spacing */
    margin-bottom: 10px; /* Bottom margin for spacing */
    width: 100%; /* Full width for the button */
    max-width: 600px; /* Maximum width for the button */
    height: 40px; /* Fixed height for the button */
    font-size: 16px; /* Font size for the button text */
    font-family: "DM Sans", sans-serif; /* Font family for the button */
}

/* Title and Instructions Styles */
.title {
    text-align: center; /* Centers the title */
}

.instructions {
    max-width: 600px; /* Maximum width for the instructions text */
    margin-top: 100px; /* Top margin for spacing */
    margin-bottom: 100px; /* Bottom margin for spacing */
    margin-left: auto; /* Automatic left margin for centering */
    margin-right: auto; /* Automatic right margin for centering */
    font-family: "DM Sans", sans-serif; /* Font family for the instructions text */
}

/* Ordered List Styles */
ol {
    counter-reset: list-counter; /* Resets the counter for the list */
    padding-left: 0; /* Removes default padding */
}

ol li {
    counter-increment: list-counter; /* Increments the list counter */
    margin-bottom: 15px; /* Bottom margin for spacing between list items */
    list-style-type: none; /* Removes default list style */
}

ol li:before {
    content: counter(list-counter) "."; /* Adds counter before each list item */
    font-weight: bold; /* Makes the counter bold */
    margin-right: 5px; /* Right margin for spacing between counter and text */
}

ol li p {
    margin-top: 0; /* Removes top margin from paragraphs inside list items */
    margin-left: 20px; /* Left margin for indentation */
}
